* {
  box-sizing: border-box;
}

.main-container {
    /* inline-block can match uyp to the width of its children instead of a block taking up 100% width*/
    display: inline-block;
    position: relative;
}

.hud-container {
    align-items: center;
    display: flex;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.healthbar {
    background-color: yellow;
    height: 30px;
    position: relative;
    width: 100%;
}

.healthbar.player {
    display: flex;
    justify-content: flex-end;
}

/* doing this so the playr health decreases towards the right */
#player-health {
    width: 100%;
}

#enemy-health {
    left: 0;
}

.health-overlay {
    position: absolute;
    background-color: green;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
}

.timer {
    background-color: red;
    /* flex shrink tells a child of a flex parent NOT to shrink */
    flex-shrink: 0;
    height: 100px;
    width: 100px;
}
